*
!.vscode/
!.vscode/tasks.json

!bash-gitlab-ci/
!bash-gitlab-ci/run-sonarscanner.sh

!installer/
!installer/oppo-terminal/
!installer/oppo-terminal/DEBIAN/
!installer/oppo-terminal/DEBIAN/conffiles
!installer/oppo-terminal/DEBIAN/control
!installer/oppo-terminal/DEBIAN/copyright
!installer/oppo-terminal
!installer/oppo-terminal/usr
!installer/oppo-terminal/usr/bin
!installer/oppo-terminal/usr/bin/oppo

!src/
!src/oppo-terminal.sln
!src/oppo-terminal/
!src/oppo-terminal/ConsoleWriter.cs
!src/oppo-terminal/IWriter.cs
!src/oppo-terminal/oppo-terminal.csproj
!src/oppo-terminal/OppoTerminal.cs
!src/oppo-terminal/Program.cs

!src/oppo-terminal.tests.sln
!src/oppo-terminal.tests/
!src/oppo-terminal.tests/oppo-terminal.tests.csproj
!src/oppo-terminal.tests/WriterTests.cs

!tmp-coverage/
!tmp-coverage/my-library/
!tmp-coverage/my-library/math.cs
!tmp-coverage/my-library/my-library.csproj.cs
!tmp-coverage/test-my-library/
!tmp-coverage/test-my-library/test-math.cs
!tmp-coverage/test-my-library/test-my-library.csproj
!tmp-coverage/code-coverage.sln
!tmp-coverage/README.md

!tmp-static-analysis/
!tmp-static-analysis/my-library/
!tmp-static-analysis/my-library/ca.ruleset
!tmp-static-analysis/my-library/math.cs
!tmp-static-analysis/my-library/my-library.csproj
!tmp-static-analysis/static-analysis.sln
!tmp-static-analysis/README.md

!.gitignore
!.gitlab-ci.yml

!README.md