*
!.vscode/
!.vscode/tasks.json

!bash-gitlab-ci/
!bash-gitlab-ci/run-sonarscanner.sh

!oppo-terminal.sln
!oppo-terminal/
!oppo-terminal/ConsoleWriter.cs
!oppo-terminal/IWriter.cs
!oppo-terminal/oppo-terminal.csproj
!oppo-terminal/OppoTerminal.cs
!oppo-terminal/Program.cs

!oppo-terminal.tests.sln
!oppo-terminal.tests/
!oppo-terminal.tests/oppo-terminal.tests.csproj
!oppo-terminal.tests/WriterTests.cs

!tmp-coverage/
!tmp-coverage/my-library/
!tmp-coverage/my-library/math.cs
!tmp-coverage/my-library/my-library.csproj.cs
!tmp-coverage/test-my-library/
!tmp-coverage/test-my-library/test-math.cs
!tmp-coverage/test-my-library/test-my-library.csproj
!tmp-coverage/code-coverage.sln
!tmp-coverage/README.md

!tmp-static-analysis/
!tmp-static-analysis/my-library/
!tmp-static-analysis/my-library/ca.ruleset
!tmp-static-analysis/my-library/math.cs
!tmp-static-analysis/my-library/my-library.csproj
!tmp-static-analysis/static-analysis.sln
!tmp-static-analysis/README.md

!.gitignore
!.gitlab-ci.yml

!README.md