*
!.vscode/
!.vscode/tasks.json

!bash-gitlab-ci/
!bash-gitlab-ci/integration-tests/
!bash-gitlab-ci/*.sh
!bash-gitlab-ci/**/*.sh

!installer/
!installer/oppo-terminal/
!installer/oppo-terminal/DEBIAN/
!installer/oppo-terminal/DEBIAN/conffiles
!installer/oppo-terminal/DEBIAN/control
!installer/oppo-terminal/DEBIAN/copyright
!installer/oppo-terminal
!installer/oppo-terminal/usr
!installer/oppo-terminal/usr/bin
!installer/oppo-terminal/usr/bin/oppo

!src/
!src/oppo-objectmodel/
!src/oppo-objectmodel/oppo-objectmodel.csproj
!src/oppo-objectmodel/*.cs
!src/oppo-objectmodel/CommandStrategies/
!src/oppo-objectmodel/Exceptions/
!src/oppo-objectmodel/Extensions/
!src/oppo-objectmodel/**/*.cs
!src/oppo-objectmodel/CommandStrategies/BuildCommands/
!src/oppo-objectmodel/CommandStrategies/PublishCommands/
!src/oppo-objectmodel/CommandStrategies/HelpCommands/
!src/oppo-objectmodel/CommandStrategies/NewCommands/
!src/oppo-objectmodel/CommandStrategies/HelloCommands/
!src/oppo-objectmodel/CommandStrategies/CommandNotExistent/
!src/oppo-objectmodel/CommandStrategies/VersionCommands/

!src/oppo-objectmodel.tests/
!src/oppo-objectmodel.tests/oppo-objectmodel.tests.csproj
!src/oppo-objectmodel.tests/*.cs

!src/oppo-resources/
!src/oppo-resources/open62541/
!src/oppo-resources/open62541/*
!src/oppo-resources/*.cs
!src/oppo-resources/oppo-resources.csproj
!src/oppo-resources/templates/
!src/oppo-resources/templates/*
!src/oppo-resources/text/
!src/oppo-resources/text/**/*.cs
!src/oppo-resources/text/help/
!src/oppo-resources/text/version/

!src/oppo-terminal/
!src/oppo-terminal/oppo-terminal.csproj
!src/oppo-terminal/*.cs
!src/oppo-terminal.tests/
!src/oppo-terminal.tests/oppo-terminal.tests.csproj
!src/oppo-terminal.tests/*.cs

!.gitignore
!.gitlab-ci.yml

!oppo.build.sln
!oppo.sln
!oppo.tests.sln
!LICENCE
!README.md