Package: OPPO-terminal-installer
Architecture: all
Maintainer: Talsen Team
Depends: debconf (>= 0.5.00), dotnet-runtime-2.1, meson (>= 0.45)
Priority: optional
Version: 0.1
Description: OPPO-Terminal is used to create OPPO artefacts in your locall file storage.
Homepage: https://www.talsen.team
Vcs-Git: https://github.com/talsen-team/oppo-terminal.git
Filename: oppo-terminal-installer.deb 
